@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

@theme {
  /* Custom Breakpoints */
  ----breakpoint-*: initial;
  --breakpoint-xs: 23.4375rem; /* 375px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 61rem; /* 976px */
  --breakpoint-xl: 90.375rem; /* 1446px */

  /* Custom Font Families */
  --font-roboto: "Roboto", sans-serif;
  --font-Lobster: "Lobster", sans-serif;
  --font-raleway: "Raleway", sans-serif;

  /* Custom Font Weights */
  --font-weight-hairline: 100;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: "none";
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: ;
  border-radius: 0px;
  border: 0px;
}
